:root {
    --primary-width: 20em;
}

body {
    font-family: Outfit;
    background-color: #e0e9f3;
    margin: 0;
    transition: 0.2s;
    max-width: 100%;
    overflow-x: hidden;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: white;
    padding: 1em;
    width: 100%;
    margin-bottom: 10px;
    top: 0;
    position: sticky;
}

#store-name {
    margin: 0
}

#cart {
    margin: 0;
    margin-right: 3em;
    font-size: 24px;
    font-weight: 500;
    padding: 0.7em;
    border-radius: 10px;
    color: white;
    background-color: #444141;
}

#cart-img {
    height: 1.3em;
    width: 1.3em;
    filter: invert(100%);
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.card {
    position: relative;
    width: var(--primary-width);
    margin: 1em;
    background-color: white;
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.product-image {
    position: relative;
    width: var(--primary-width);
    height: var(--primary-width);
    border-radius: 15px 15px 0 0;
    grid-column: 1/3;
}

.sold-out {
    background-color: #b9b9b9;
    font-size: 20px;
    border-radius: 15px;
    padding: 0.3em 1em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.name {
    grid-column: 1/3;
    margin: 0 0 0 0.5em;
}

.price {
    grid-column: 1/3;
    margin: 0 0 0 0.5em;
}

.strikethrough {
    position: relative;
    color: #444141;
    font-size: 18px;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-color: inherit;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.cart-button {
    border: 0;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    width: 95%;
    color: white;
    background-color: #151414;
    padding: 0.4em;
    margin: 0.3em;
}

.cart-button:hover {
    background-color: #444141;
}

.cart-button:active {
    background-color: #000000;
}

.fav-button {
    border: 0;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 300;
    width: 80%;
    background-color: #b9b9b9;
    padding: 0.2em;
    margin: 0.2em;
}

.fav-button:hover {
    background-color: #444141;
}

.fav-button:active {
    background-color: #c3c3c3;
}