body{
    font-family: Outfit;
    background-color: #e0e9f3;
    margin: 0;
}
.card{
    width: 20em;
    background-color: white;
    display: grid;
    grid-template-columns: 1;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}
.product-image{
    width: 10em;
    height: 10em;
}
p{
    margin: 0;
}
.cart-button{
    border: 0;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 15em;
}
.head{
    background-color: white;
    padding: 1em;
    width: 100%;
    margin-bottom: 10px;
}
h1{
    margin: 0
}